.aptitude/
.bash_history
.bash_logout
.byobu
.cache/
.config/
.dbus/
.dmrc
.ecryptfs
.erlang.cookie
.erlang.hosts
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gitignores/
.gitk
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.htoprc
.ICEauthority
.lesshst
.libvirt/
.local/
.macromedia/
.mc/
.mhwaveedit/
.mission-control/
.mozilla/
.mplayer/
.netrc
.pentadactyl/
.pki/
.Private
.pulse/
.pulse-cookie
.recently-used.xbel
.silc/
.Skype/
.slocdata/
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.vboxclient*
.vboxclient*
.viminfo
.vim-vundle/
.virt-manager/
.VirtualBox/
.wireshark/
.Xauthority
.xinput.d/
.xscreensaver-getimage.cache
.xsession*

download/
src/
vm/
