.aptitude/
.bash_history
.bash_logout
.cache/
.dbus/
.dmrc
.ecryptfs
.erlang.cookie
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gitignores/
.gksu.lock
.gnome2/
.gtk-bookmarks
.htoprc
.ICEauthority
.lesshst
.local/
.mc/
.mozilla/
.pentadactyl/
.pki/
.Private
.pulse/
.pulse-cookie
.recently-used.xbel
.silc/
.ssh/
.sudo_as_admin_successful
.thumbnails/
.vboxclient*
.vboxclient*
.viminfo
.vim-vundle/
.xinput.d/
.xscreensaver-getimage.cache
.xsession*

src/
