.aptitude/
.bash_history
.bash_logout
.cache/
.dbus/
.dmrc
.ecryptfs
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gitignores/
.gksu.lock
.gnome2/
.gtk-bookmarks
.ICEauthority
.lesshst
.mc/
.mozilla/
.Private
.pentadactyl/
.pulse/
.pulse-cookie
.recently-used.xbel
.silc/
.ssh/
.sudo_as_admin_successful
.vboxclient*
.vboxclient*
.viminfo
.vim-vundle/
.xsession*

src/
