autostart/
bless/
compiz-1/
dconf/
desktop-couch/
enchant/
gnome-disk-utility
gnome-session
gtk-2.0/
gwibber/
ibus
metacity
session-state
Trolltech.conf
ubuntuone/
update-notifier
user-dirs.dirs
user-dirs.locale
